<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>About Django</h1>
<p>Django Tutorial provides basic and advanced concepts of Django. Our
    Django Tutorial is designed for beginners and professionals both.
Django is a Web Application Framework which is used to develop web applications.
Our Django Tutorial includes all topics of Django such as introduction,
    features, installation, environment setup, admin interface, cookie, form validation,
    Model, Template Engine, Migration, MVT etc. All the topics are explained in detail
    so that reader can get enought knowledge of Django.</p>
</body>
</html>